Examples/
Uhara Stuff (UE)/
/asl/ObjectImpermanenceTest.asl
decompile/
/Practice Mod/bin/
/Practice Mod/obj/
/Practice Mod/Release/ObjectImpermanence_PracticeMod_0.1.2_BepInEx_6.0.0-be.764
Practice Mod/Release/BepInEx_6.0.0-be.764_Official_IL2CPP_win_x64